<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('./partials/head') %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <main class="">
        <div class="d-flex j-center">
            <h1 class="m-botton25">Register</h1>
        </div>
        <form class="d-flex a-center flex-column" action="/register" method="post">
            <div class="m-botton25">
                <label class="form-label " for="email">E-mail</label>
                <input class="form-input bc-white" type="email" name="email" id="email">
            </div>
            <div class="m-botton25">
                <label class="form-label" for="password">Contraseña</label>
                <input class="form-input bc-white" type="password" name="password" id="password">
            </div>
            <div class="m-botton25">
                <label class="form-label" for="password2">Confirmar contraseña</label>
                <input class="form-input bc-white" type="password" name="password2" id="password2">
            </div>
            <div class="m-botton25">
                <label class="form-label" for="nombre">Nombre de usuario</label>
                <input class="form-input bc-white" type="text" name="nombre" id="nombre">
            </div>


            <div class="d-flex m-botton25">
                <div>
                    <label class="form-label" for="name">Nombre</label>
                    <input class="form-input bc-white" type="text" name="name" id="name">
                </div>
                <div class="m-botton25">
                    <label class="form-label" for="apellido">Apellido</label>
                    <input class="form-input bc-white" type="text" name="apellido" id="apellido">
                </div>
            </div>
            <div class="d-flex m-botton25">
                <div>
                    <label class="form-label">Pais</label>
                    <select class="form-input bc-white" name="Pais" id="">
                        <option value="1">Argentina</option>
                        <option value="2">Peru</option>
                        <option value="3">Paraguay</option>
                        <option value="4">Uruguay</option>
                        <option value="5">Chile</option>
                        <option value="6">Brazil</option>
                    </select>
                </div>
                <div>
                    <label class="form-label">Moneda</label>
                    <select class="form-input bc-white" name="Moneda" id="">
                        <option value="1">Peso Argentino</option>
                        <option value="2">Soles</option>
                        <option value="3">Peso Paraguayo</option>
                        <option value="4">Peso Uruguayo</option>
                        <option value="5">Peso chileno</option>
                        <option value="6">Real</option>
                    </select>
                </div>
            </div>
            <div class="m-top25">
                <label class="form-label" for="telefono">Telefono</label>
                <input class="form-input bc-white" type="tel" name="telefono" id="telefono">
            </div>
            <div class=" w-40 d-flex  flex-column" >
                <input class="enviar m-top50 m-botton25" type="submit" value="Enviar" a>
            </div>
            </div>
        </form>
        <div class="d-flex a-center flex-column">
            <div class="d-flex m-botton25">
                <input class="" type="checkbox" name="" value="si">
                <label class="m-left" for="">Al hacer click, aceptas nuestros terminos y condiciones,que eres mayor de
                    18 años y
                    conoces nuestra politica de juego responsable</label>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-flex ">
                <p>Ya tienes cuenta?</p>
                <button class="enter m-left bc-white">Entra aqui</button>
            </div>
        </div>

    </main>
    <a class="outsidelogo" href="/index"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
</html>