<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="header">
        <section class="header__section">
        <div class="header__section__text">
            <h1>New Home</h1>
            <p>- Lo mejor para tu hogar -</p>   
        </div>
        <div class="header__section__img">
            <a><img class="header__section__logo" src="/img/logo2.jpg" alt="logo"></a>
        </div>
         <div class="header__section__menu">
            <i id="burguer" class="fa-solid fa-bars"></i>
            <form class="header__section__barra" action="">
            <input class="search" placeholder="Buscar productos,marcas y mas..." type="text">
            <button class="header__section__button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        
        <nav class="header__nav">
            <ul>
                <li class="header__nav__li"><a href="/register">Crear cuenta</a></li>
                <li class="header__nav__li"><a href="/login">Ingresa</a></li>
                <li class="header__nav__li"><a href="/productDetail">Categorias</a></li>
                <li class="header__nav__li"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>   
        </section>     
    </header>
    <main class="">
        <img width="100" src="/img/logo2.jpg" alt="logo">
        <div class="d-flex j-center">
            <h1 class="">Carrito de compra</h1>
        </div>
        <div class="d-flex j-around m-top25 m-botton25">
            <p class="p-10 back-color">Descripcion</p>
            <p class="p-10 back-color">Cantidad</p>
            <p class="p-10 back-color">Remover</p>
            <P class="p-10 back-color">Precio</P>
        </div>
        <hr>
        <div class="d-flex j-between m-top25">
            <div class="d-flex">
                <img class="img-cart p-left" src="/img/aire.jpg" alt="aire">
                <p class="p-left">Aire acondicionado</p>
            </div>
            <div class="d-flex">
                <button class="button">-</button>
                <p class="button1 text-center d-flex a-center">0</p>
                <button class="button">+</button>
            </div>
            <button class="button1">X</button>
            <p>$139.999</p>
        </div>
        <div class="d-flex j-between m-top50 m-botton25">
            <div class="d-flex">
                <img class="img-cart p-left" src="/img/cocina.jpg" alt="cocina">
                <p class="p-left">Cocina industrial</p>
            </div>
            <div class="d-flex">
                <button class="button">-</button>
                <p class="button1 text-center d-flex a-center">0</p>
                <button class="button">+</button>
            </div>
            <button class="button1">X</button>
            <p>$119.995</p>
        </div>
        <hr>
        <div class="d-flex j-between m-botton25 m-top25">
            <div class="d-flex p-10 back-color w-250">
                <p>Descuento</p>
                <p class="p-left">$00.00</p>
            </div>
            <div class="d-flex p-10 back-color w-250">
                <p>Envio</p>
                <p>$00.00</p>
            </div>
            <div class="d-flex p-10 back-color w-250">
                <p>Total</p>
                <p>$00.00</p>
            </div>
        </div>
        <div class="d-flex j-between">
            <div>
                <input class="m-botton25 w-250 h-34 " type="text">
                <button class="enviar m-botton25 w-250 " type="submit">Aplicar descuento</button>
            </div>
            <button class="enviar m-botton25 w-250" type="submit">Comprar</button>
        </div>


    </main>
    <a class="outsidelogo" href="/index"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>

    <footer class="footer">

        <section class="contact">

            <a class="logofooter" href="/index"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>

            <div class="footer_contact">

                <ul>
                    <p>Aatencion al cliente:</p>
                    <li>0810 999 6644</li>
                    <li>LU-VI de 09:00 a 18:00</li>
                    <li>SA de 9:00 a 13:00</li>
                </ul>
                <ul>
                    <p>Venta telefonica:</p>
                    <li>0810 222 3700</li>
                    <li>LU-VI de 8:00 a 20:00</li>
                    <li>SA-DO-Feriados 9:00 a 21:00</li>
                </ul>
                <ul class="ofertasypromos">
                    <li>Comprar en <a href="#">newhomearg.com.ar</a> </li>
                    <li>Trabaja con nosotros</li>
                    <li>ofertas y promociones</li>
                </ul>
            </div>
        </section>
       
            <section class="footerbottom">
                <p class="copyright">Las fotos son a modo ilustrativo.La venta de cualquiera de los productos publicados esta sujeta
                    a la verificacion de stock</p>
                
                <ul class="redes">
                    <img width="30" height="30" src="/img/redes/whatsapp.png" alt="">
                    <img width="30" height="29" src="/img/redes/facebook.png" alt="">
                    <img width="30" height="30" src="/img/redes/instagram.png" alt="">
                </ul>
            
                <form action="">
                    <input placeholder="Ingresa tu email" type="text">
                </form>
            </section>
    </footer>
</body>

</html>