.header {
    background-color: #060608;
    position: sticky;


}

.header__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.header__section__menu {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.header__section__text {
    padding-top: 15px;
}

.header__section__text a {
    font-size: 1.5em;
    font-family: 'Archivo Black', sans-serif;
    color: #ffffff;
}

.header__section__text h1 {
    font-size: 100%;
}

.header__section__menu {
    margin: 0px 20px 10px 0;

    padding: 10px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.search-form_input {
    border: solid 1px var(#ebebeb);
    display: block;
    width: 100%;
    padding: 7px 5px 7px 7px;
    border-radius: 7px;
    height: 30px;
    font-size: 1em;
}

.search-form_button {
    position: absolute;
    right: 2px;
    height: 45%;
    background-color: #ffffff;
    border: none;
    border-left: solid 1px var(#ebebeb);
    color: var(#ebebeb);
    cursor: pointer;
}

.header__nav {
    display: none;
}

.header__nav a {
    color: white;
}


/* MAIN */


.main {
    background-color: #F3F3F3;
}

.hr hr {
    color: rgb(100, 100, 100);
    margin: 0%;
}

.main__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    height: auto;
    align-content: flex-start;
}

.category {
    padding: 10px 0 5px 0;
    background-color: #060608;
    padding-left: 5%;
}


.category li {
    margin-left: 2%;
    text-align: center;
    display: inline-block;
}

.category a {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.interesting_products {
    width: 90%;
    margin-right: 5%;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    overflow: hidden;
    transition: 300ms;
}

.interesting_products h3 {
    margin-left: 2%;
    font-size: 1.75em;
    font-family: 'Roboto', sans-serif;
}

.interesting_products article {
    margin: 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
    background-color: white;
    align-self: flex-start;

}

.interesting_products img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.article-text {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    background-color: #e4e4e4;
    padding-top: 5px;
}

.article-text h2 {
    padding-right: 15%;
    font-size: 17px;
    margin: 0;
    color: #1d1d1d;
}

.article-text span {
    font-size: 13px;
    font-weight: 200;
    color: #39b54a;
    padding-bottom: 7%;
    margin: 0;

}

.p2 {
    font-size: 13px;
    margin: 0;
    height: 0;
    font-weight: 200;
    color: #6b6b6b;
    transition: 300ms;
    overflow: hidden;
}

.article-text:hover .p2 {
    padding-left: 5%;
    height: 15px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 1px;
    font-size: 13px;

}

.article-text p {
    width: 100%;
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
}

.article-text:hover p {
    margin-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 1px;
    font-size: 13px;
    height: 40px;
}



.main__section__logo {
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 5px;
    width: 30%;

}




@media(min-width:768px) {

    /* HEADER */
    .header__section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #burguer {
        display: none;
    }

    .header__section__menu {
        padding-top: 15px;
        padding-left: 30px;
    }

    /* Header nav */

    .header__nav,
    .ul-navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .ul-navbar a {
        border-bottom: none;
    }

    .ul-navbar a:hover {
        color: var(#03264C);
    }

    .ul-navbar li {
        font-size: 15px;
        margin-top: 20px;
        margin-right: 15px;
        font-family: 'Raleway', sans-serif;
    }

    /* MAIN */

    .main h2 {
        padding: 10px;
    }

    .main__section h2 {
        display: inline;
    }

    .main__section__caja {
        width: 45%;
    }

    .main__section__logo {
        margin-left: 40%;
        width: 20%;
    }


}

@media(min-width:1024px) {

    /* HEADER */
    .search {
        width: 400px;
    }

    /* MAIN */

    .main__section__caja {
        width: 20%;
    }

    .main__section__logo {
        margin-left: 40%;
        width: 20%;
    }

    /* FOOTER */
}