.text-olvide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.hr-register{
    margin-left: 10%;
    width: 80%;
}
.text-register {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: rgb(226, 226, 226);
    margin: 0% 10% 5% 10%;
    padding-top: 5%;
}
.text-register p{
    color: rgb(82, 82, 82);
    font-size: 15px;
}