.main-logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    padding: 6% 7% 3% 7%;
    box-shadow: 0px 0px 30px rgb(110, 110, 110);
    width: 30%;
}

.section-logout h5 {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    padding: 0%;
}


.text-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;
    width: 100%;
}

.button-on {
    width: 100%;
    margin-bottom: 5%;
    padding: 3%;
    background-color: rgb(236, 0, 0);
    border: rgb(236, 0, 0);
}

.button-on a {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.button-off {
    width: 100%;
    padding: 3%;
    border: #eeeeee;
    background-color: #eeeeee;
}

.button-off a {
    font-size: 15px;
    color: rgb(138, 138, 138);
}