    .maintop {
        width: 90%;
        display: flex;
        margin-left: 5%;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .section-detail {
        padding-left: 3%;
        padding-right: 3%;
    }

    .producto {
        margin-top: 6%;
    }

    .image-principal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .image-principal img {
        object-fit: contain;
        height: 400px;
    }

    .image-secundario {
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 5%;
        margin-left: 3%;
    }

    .image-secundario img {
        margin: 5px;
        border-radius: 5px;
        border: 1px solid rgb(209, 209, 209);
        height: 100px;
    }


    .more_img_box {
        display: flex;
        width: 90%;
        gap: 20px;
    }

    .price {
        width: 90%;
        padding-left: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ebebeb;
        margin-top: 5%;
        margin-bottom: 2%;

    }

    .price h5 {
        padding-top: 5%;
    }

    .price h6 {
        font-size: 16px;
        font-style: italic;
        color: #888888;
    }

    .price h2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .promos_bank {
        font-weight: bold;
        font-size: 16px;
    }

    .promos {
        color: #39b54a;
        font-size: 14px;
        font-weight: 600;
    }

    .cards {
        display: flex;
        gap: 15px;
        padding-left: 15px;
        padding-bottom: 10px;

    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 2%;
        width: 100%;
    }


    .buttons a {
        margin-right: 10%;
        margin-bottom: 2%;
        text-align: center;
        width: 90%;
        font-size: 15px;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 5px;
        color: white;
    }

    .buttons-comprar {
        background-color: #2874e6;
        transition: 100ms;
    }

    .buttons-agregar {
        background-color: #c0c0c0;
        transition: 100ms;
    }

    .buttons-comprar:hover {
        opacity: 0.7;
    }

    .buttons-agregar:hover {
        opacity: 0.7;
    }

    .button-admin {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
        width: 100%;
        gap: 10px;
    }

    .button-admin a {
        margin-bottom: 2%;
        text-align: center;
        width: 90%;
        font-size: 15px;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 5px;
        color: white;
    }

    .button-editar {
        background-color: #39e455;
        transition: 100ms;

    }

    .button-eliminar {
        background-color: #d83131;
        transition: 100ms;
        margin-right: 10%;
    }

    .button-editar:hover {
        opacity: 0.7;

    }

    .button-eliminar:hover {
        opacity: 0.7;

    }

    .descripcion-detail {
        margin-left: 4%;
        margin-bottom: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .descripcion-detail h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .descripcion-detail p {
        font-size: 15px;
        color: #979797;
        width: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }



    @media (min-width:768px) {

        .send {
            display: inline-block;
            font-family: 'Roboto';
            font-size: 16px;
        }

        #flecha {
            display: inline-block;
        }

        .send i {
            font-size: 25px;
        }

        .cuandollega {
            padding: 0;
            padding-bottom: 10px;
            display: flex;
        }

        .sucursales {
            padding: 0;
            padding-bottom: 10px;
            display: flex;
        }

        .sendtexto {
            display: block;
            padding-left: 10px;
        }

        .sendblue {
            font-size: 14px;
            color: #1C18BD;
        }

        .producto {
            width: 70%;
        }

        .price {
            width: 30%;
            border: 1px solid #ebebeb;
            border-radius: 10px;
        }

        .interesting_products {
            width: 90%;
            margin-left: 5%;
        }

        .interesting_products article {
            width: 320px;

        }
    }

    @media (min-width:1024px) {

        .containsproduct {
            display: flex;
            /* justify-content: space-around; */


        }

        .interesting_products article {
            width: 300px;


        }

        .main_allProducts {
            width: 90%;
            height: 700px;
        }

    }