.main-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.section-pro {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: rgba(86, 156, 218, 0.603);
    border-radius: 10%;
    box-shadow: 0px 0px 30px rgb(110, 110, 110);

}

.section-pro h2 {
    text-align: center;
    width: 76.7%;
    margin-top: 1%;
}

.section-pro img {
    margin-top: 1%;
    border-radius: 50%;
    width: 30%;
}

.hr-pro {
    border: 5px solid black;
}

.section-pro-datos {
    margin-top: 5%;
    -webkit-column-count: 2;
    -webkit-column-gap: 75px;
    padding: 4% 3% 4% 3%;

    background-color: rgb(255, 255, 255);
}

.section-pro-datos p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(104, 76, 76);
}
.nav-pro-datos{
    margin-top: 5%;
}

.nav-pro-datos ul {
    text-align: center;
    padding-right: 20px;
}

.nav-pro-datos ul li {
    display: inline;
    padding-left: 15px;
}