.main-form{
    position: relative;
    margin: 5% 30% 0% 30%;
}
.section-form {
    position: absolute;
    box-shadow: 0px 0px 30px rgb(100, 100, 100)
}
.form-reg{
    margin-right: 10%;
    margin-left: 10%;
}