@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import './general.css';
@import './productDetail.css';
@import './productAdd.css';
@import './productCart.css';
@import './register.css';
@import './login.css';
@import './index.css';
@import './confirm.css';
@import './productAll.css';
@import './profile.css';
@import './edition.css';
@import './logout.css';