
.login__main__confirm{
    margin-top:10%;
}
.button__danger{
    margin-top: 10px;
    margin-left:45%;
}
.button_Neg{
    margin-left:47%;
    border-radius: 10%;
    border: 7px solid #bfbfbf;
    background-color: #bfbfbf;
    margin-bottom: 10px;

}