<header class="header">
    <section class="header__section">
    <div class="header__section__text">
        <h1>New Home</h1>
        <p>- Lo mejor para tu hogar -</p>   
    </div>
    <div class="header__section__img">
        <a href="/"><img class="header__section__logo" src="/img/logo2.jpg" alt="logo"></a>
    </div>
     <div class="header__section__menu">
        <i id="burguer" class="fa-solid fa-bars"></i>
        <form class="header__section__barra" action="">
        <input class="search" placeholder="Buscar productos,marcas y mas..." type="text">
        <button class="header__section__button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    
    <nav class="header__nav">
        <ul class="menu-horizontal">
            <li class="header__nav__li"><a href="/users/register">Crear cuenta</a></li>
            <li class="header__nav__li"><a href="/users/login">Ingresa</a></li>
            <li>
                <a href="#">Categorias</a>
                    <ul class="menu-vertical">
                        <li><a href="/products/productDetail">Televisores</a></li>
                        <li><a href="#">Celulares</a></li>
                        <li><a href="#">Equipos de audio</a></li>
                        <li><a href="#">Consolas</a></li>
                        <li><a href="#">Hogar</a></li>
                        <li><a href="#">Muebles</a></li>
                        <li><a href="#">Climatización</a></li>
                        <li><a href="#">Lavado</a></li>
                        <li><a href="#">Cocina</a></li>
                      </ul>
            </li>
            <li class="header__nav__li"><a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>   
    </section>     
</header>

