.register__main__section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form__box__barra{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.titulo{
    font-size: 18px;
}

.input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    width: 90%;
}


@media(min-width: 768px){

    .register__main__section{
        padding: 10px 20% 30px 20%;
    }
}

@media(min-width: 1024px){
    .register__main__section{
        padding: 10px 25% 30px 25%;
    }   
}