<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <main class="">
        <div class="d-flex j-center">
            <h1 class="">Carrito de compra</h1>
        </div>
        <div class="d-flex j-around m-top25 m-botton25">
            <p class="p-10 back-color">Descripcion</p>
            <p class="p-10 back-color">Cantidad</p>
            <p class="p-10 back-color">Remover</p>
            <P class="p-10 back-color">Precio</P>
        </div>
        <hr>
        <div class="d-flex j-between m-top25">
            <div class="d-flex">
                <img class="img-cart p-left" src="/img/aire.jpg" alt="aire">
                <p class="p-left">Aire acondicionado</p>
            </div>
            <div class="d-flex">
                <button class="button">-</button>
                <p class="button1 text-center d-flex a-center">0</p>
                <button class="button">+</button>
            </div>
            <button class="button1">X</button>
            <p>$139.999</p>
        </div>
        <div class="d-flex j-between m-top50 m-botton25">
            <div class="d-flex">
                <img class="img-cart p-left" src="/img/cocina.jpg" alt="cocina">
                <p class="p-left">Cocina industrial</p>
            </div>
            <div class="d-flex">
                <button class="button">-</button>
                <p class="button1 text-center d-flex a-center">0</p>
                <button class="button">+</button>
            </div>
            <button class="button1">X</button>
            <p>$119.995</p>
        </div>
        <hr>
        <div class="d-flex j-between m-botton25 m-top25">
            <div class="d-flex p-10 back-color w-250">
                <p>Descuento</p>
                <p class="p-left">$00.00</p>
            </div>
            <div class="d-flex p-10 back-color w-250">
                <p>Envio</p>
                <p>$00.00</p>
            </div>
            <div class="d-flex p-10 back-color w-250">
                <p>Total</p>
                <p>$00.00</p>
            </div>
        </div>
        <div class="d-flex j-between">
            <div>
                <input class="m-botton25 w-250 h-34 " type="text">
                <button class="enviar m-botton25 w-250 " type="submit">Aplicar descuento</button>
            </div>
            <button class="enviar m-botton25 w-250" type="submit">Comprar</button>
        </div>


    </main>
    <a class="outsidelogo" href="/index"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>
    <!-- FOOTER -->
    
    <%- include('./partials/footer') %>
</body>

</html>