<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', { title : 'Confirmar eliminación' }) %>


    <body class="login">
        <%- include('./partials/header') %>
            <main class="login__main">
                <section class="interesting_products">
                    <h3>Todas las categorias</h3>
                    <div class="containsproduct">
                        <% category.forEach(({id,name})=> { %>
                            <article>
                                <a style="text-align:center;" href="/products/category/<%= id %>">
                                    <p>
                                        <%= name %>
                                    </p>
                                </a>
                            </article>
                            <% }) %>
                    </div>
                </section>

            </main>
    </body>

</html>