<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', { title : 'Confirmar eliminación' }) %>


    <body class="login">
        <%- include('./partials/header') %>
            <main class="main-confirm">
                <section class="section-confirm">
                    <h5>¿DESEA ELIMINAR ESTE PRODUCTO?</h5>
                    <div class="text-confirm">
                    <form action="/products/destroy/<%= id %>?_method=DELETE" method="POST">
                        <button class="button-delete" type="submit">ELIMINAR</button>
                    </form>
                    <button class="button-notdelete" type="submit"><a href="/">CONTINUAR</a></button>    
                    </div>
                    
                </section>
            </main>
    </body>

</html>