<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', { title : 'Confirmar Cierre' }) %>


    <body class="login">
            <main class="main-logout">
                <section class="section-logout">
                    <h5>¿DESEA CERRAR SESIÓN?</h5>
                    <div class="text-logout">
                    <button class="button-on" type="submit"><a  href="/users/logout">CERRAR SESIÓN</a></button>
                    <button class="button-off" type="submit"><a href="/">CONTINUAR</a></button>
                </div>
                </section>
            </main>
    </body>

</html>