<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', { title : 'Confirmar Cierre' }) %>


    <body class="login">
            <main class="main-logout">
                <section class="section-logout">
                    <h5>¿Desea Salir?</h5>
                    <img src="https://www.emojiall.com/images/animations/joypixels/128px/thinking_face.gif" alt="emoji">
                    <div class="text-logout">
                    <button class="button-on" type="submit"><a  href="/users/logout">SALIR</a></button>
                    <button class="button-off" type="submit"><a href="/">NO SALIR</a></button>
                </div>
                </section>
            </main>
    </body>

</html>