<header class="header">
    <section class="header__section">
        <div class="header__section__text">
            <a href="/">
                <h1>NewHome <i class="fa-solid fa-house-laptop"></i></h1>
            </a>
        </div>
        <div class="col-7 col-md-6">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar productos, marcas y más"
                    class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <nav class="header__nav">
            <ul class="ul-navbar">
                <li><a href="/products/all">Todos los productos</a></li>
                <% if (locals.userLogin ) { %>
                    <li class="header__nav__li"><a href="/users/profile"><i class="fa-regular fa-user"></i></a></li>
                    <li class="header__nav__li"><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                            <% }else{ %>
                                <li class="header__nav__li"><a href="/users/register">Crear cuenta</a></li>
                                <li class="header__nav__li"><a href="/users/login">Ingresa</a></li>
                                <% } %>
            </ul>
        </nav>
    </section>
</header>