<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productDetail</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/203abf4523.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <section class="header__section">
        <div class="header__section__text">
            <h1>New Home</h1>
            <p>- Lo mejor para tu hogar -</p>   
        </div>
        <div class="header__section__img">
            <a><img class="header__section__logo" src="/img/logo2.jpg" alt="logo"></a>
        </div>
         <div class="header__section__menu">
            <i id="burguer" class="fa-solid fa-bars"></i>
            <form class="header__section__barra" action="">
            <input class="search" placeholder="Buscar productos,marcas y mas..." type="text">
            <button class="header__section__button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        
        <nav class="header__nav">
            <ul>
                <li class="header__nav__li"><a href="/register">Crear cuenta</a></li>
                <li class="header__nav__li"><a href="/login">Ingresa</a></li>
                <li class="header__nav__li"><a href="/productDetail">Categorias</a></li>
                <li class="header__nav__li"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>   
        </section>     
    </header>
    <main>
        <section class="maintop">
                <section class="producto">
                    <h2>Smart tv Samsung Qled 85"</h2>
                    <div class="product_img">
                        <img width="300" height="300" src="/img/tv1.jpg" alt="tv">
                    </div>

                    <article class="more_img_box">
                        <div class="more_img">
                            <img width="60" height="60" src="/img/tv2.jpg" alt="tv">
                            <img width="60" height="60" src="/img/tv3.jpg" alt="tv">
                            <img width="60" height="60" src="/img/tv4.jpg" alt="tv">
                            <img width="60" height="60" src="/img/tv5.jpg" alt="tv">
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </article>
                </section>

                <section class="price">
                    <h2>$529.999</h2>
                    <p class="promos_bank">¡Nuestras promociones bancarias!</p>
                    <p class="promos">3 cuotas sin interes con los siguientes metodos de pago</p>
                    <div class="cards">
                        <img src="/img/cards/mastercard.png" alt="">
                        <img src="/img/cards/santander.png" alt="">
                        <img src="/img/cards/visa.png" alt="">
                    </div>
                     <div class="buttons">
                        <a href="#">Comprar ahora</a>
                        <a href="#">Añadir al carrito</a>
                    </div>
                    <div class="send">
                        <div class="cuandollega">
                            <i class="fa-solid fa-truck-fast"></i>
                            <div class="sendtexto">
                                <p>Envios a todo el pais</p>
                                <p class="sendblue">Calcular cuando llega</p>
                            </div>
                        </div>
                        <div class="sucursales">
                            <i class="fa-solid fa-store"></i>
                            <div class="sendtexto">
                                <p>Retiro gratis en sucursal</p>
                                <p class="sendblue">Ver sucursales</p>
                            </div>
                        </div>

                    </div>
                    </div>
                </section>
            </section>

            <section class="caracteristicas">
                    <ul class="c_req">
                        <li>Pulgadas</li>
                        <li>Resolucion</li>
                        <li>Formato de pantalla</li>
                        <li>3D</li>
                    </ul>
                    <ul class="c_res">
                        <li>50</li>
                        <li>3840 x 2160 pixeles</li>
                        <li>Plano</li>
                        <li>No</li>
                    </ul>

            </section>

            <section class="description">   
                <h4 class="tittle">Funciones especiales</h4>
                <p class="product__description">Con su función Multi View conseguirás dividir la pantalla del smart en dos, para que puedas ver la TV y tu smartphone al mismo tiempo y en un solo lugar.</p>
                <h4 class="tittle">Smart TV Samsung</h4>
                <p class="product__description">El Smart TV Samsung QN85Q70AAGCZB posee un diseño delgado y asombroso, con una pantalla de 85 pulgadas y resolución 4K QLED, con la que tendrás imágenes claras y nítidas, para disfrutar de todo tu contenido favorito sin perderte ningún detalle. Además, podrás tener una experiencia gamer diferente y mejorada, ya que las pantallas de 21:9 y 32:9 te brindarán visibilidad adicional y, con FreeSync Premium Pro, disfrutarás tus partidas con más fluidez y enfoque.</p>

            </section>

            <section class="interesting_products">
                <h3>Productos que te pueden llegar a interesar</h3>
                <div class="containsproduct">
                    <article>
                        <img width="73" height="73" src="/img/aire.jpg" alt="aire acondicionado">
                        <h4 class="interesting_products_border">Aire acondicionado LG</h4>
                        <h4>$119.999</h4>
                    </article>
                    <article>
                        <img width="73" height="73" src="/img/lavarropa.jpg" alt="Lavarropas">
                        <h4 class="interesting_products_border">Lavarropas Longvie</h4>
                        <h4>$99.999</h4>
                    </article>
                    <article>
                        <img width="73" height="73" src="/img/heladera.jpg" alt="heladera">
                        <h4 class="interesting_products_border">Heladera Samsung</h4>
                        <h4>$159.999</h4>
                    </article>
                    <article>
                        <img width="73" height="73" src="/img/tostadora.png" alt="tostadora">
                        <h4 class="interesting_products_border">Tostadora Atma</h4>
                        <h4>$14.999</h4>
                    </article>
                </div>

            </section>
    </main>

    <a class="outsidelogo" href="/index"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>

    <footer class="footer">

        <section class="contact">

            <a class="logofooter" href="/index"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>

            <div class="footer_contact">

                <ul>
                    <p>Aatencion al cliente:</p>
                    <li>0810 999 6644</li>
                    <li>LU-VI de 09:00 a 18:00</li>
                    <li>SA de 9:00 a 13:00</li>
                </ul>
                <ul>
                    <p>Venta telefonica:</p>
                    <li>0810 222 3700</li>
                    <li>LU-VI de 8:00 a 20:00</li>
                    <li>SA-DO-Feriados 9:00 a 21:00</li>
                </ul>
                <ul class="ofertasypromos">
                    <li>Comprar en <a href="#">newhomearg.com.ar</a> </li>
                    <li>Trabaja con nosotros</li>
                    <li>ofertas y promociones</li>
                </ul>
            </div>
        </section>
       
            <section class="footerbottom">
                <p class="copyright">Las fotos son a modo ilustrativo.La venta de cualquiera de los productos publicados esta sujeta
                    a la verificacion de stock</p>
                
                <ul class="redes">
                    <img width="30" height="30" src="/img/redes/whatsapp.png" alt="">
                    <img width="30" height="29" src="/img/redes/facebook.png" alt="">
                    <img width="30" height="30" src="/img/redes/instagram.png" alt="">
                </ul>
            
                <form action="">
                    <input placeholder="Ingresa tu email" type="text">
                </form>
            </section>
    </footer>


</body>

</html>