<footer class="footer">

    <section class="contact">

        <a class="logofooter" href="/"><img  width="60px" height="60px" src="/img/logo 1.png" alt="logo"></a>

        <div class="footer_contact">

            <ul>
                <p>Atencion al cliente:</p>
                <li>0810 999 6644</li>
                <li>LU-VI de 09:00 a 18:00</li>
                <li>SA de 9:00 a 13:00</li>
            </ul>
            <ul>
                <p>Venta telefonica:</p>
                <li>0810 222 3700</li>
                <li>LU-VI de 8:00 a 20:00</li>
                <li>SA-DO-Feriados 9:00 a 21:00</li>
            </ul>
            <ul class="ofertasypromos">
                <li>Comprar en <a href="#">newhomearg.com.ar</a> </li>
                <li>Trabaja con nosotros</li>
                <li>ofertas y promociones</li>
            </ul>
        </div>
    </section>
   
        <section class="footerbottom">
            <p class="copyright">Las fotos son a modo ilustrativo.La venta de cualquiera de los productos publicados esta sujeta
                a la verificacion de stock</p>
            
            <ul class="redes">
                <img width="30" height="30" src="/img/redes/whatsapp.png" alt="">
                <img width="30" height="29" src="/img/redes/facebook.png" alt="">
                <img width="30" height="30" src="/img/redes/instagram.png" alt="">
            </ul>
        
            <form action="">
                <input placeholder="Ingresa tu email" type="text">
            </form>
        </section>
</footer>