* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.header {
    background-color: #72223E;
}

.d-flex {
    display: flex;
}

.flag {
    border: 1px solid red;
}

.flag2 {
    border: 1px solid greenyellow;
}

.pl-100 {
    padding-left: 50px;
}

.a-center {
    align-items: center;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.search {
    width: 35vw;
    height: 5vh;
}

.menu {
    color: white;
    list-style: none;
}

.vw-35 {
    width: 64vw;
}

.justi-end {
    justify-content: end;
}

.j-between {
    justify-content: space-between;
}

.c-white {
    color: white;
    font-style: none;
    text-decoration: none;
}

.p-10 {
    padding: 10px;
}


.main__nav{
    text-align: center;
}



/* outsidefooter */

.outsidelogo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.outsidelogo img{
    border-radius: 5px;
}



.footer {
    background-color: #ebebeb;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 600;
    padding: 3%;
}

.mt-20 {
    margin-top: 10px;
}

.j-around {
    justify-content: space-around;
}

.i {
    color: green;
}

.i2 {
    color: blue;
}

.i3 {
    color: violet;
}

.w-60 {
    width: 27%;
}

.search {
    border-radius: 10px;
}


/* footer */

.logofooter , .copyright, .ofertasypromos{
    display: none;
}

.footer_contact{
    display: flex;
    gap: 15px;
}

.footerbottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footerbottom input{
    border-radius: 5px;
    border: transparent;
    padding: 5px;
}

/* tablets&desktop */

@media (min-width: 420px){

.outsidelogo{
    display: none;
}

.logofooter , .copyright, .ofertasypromos{
    display: inline-block;
}

.contact{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
    padding-bottom: 10px;
}

.contact img{
    border-radius: 5px;
}

.ofertasypromos a{
    color: #1C18BD;
}

.copyright {
    width: 60%;
}

.redes {
    display: flex;
    gap: 10px;
}


}

