header{
    font-family: 'Roboto';
    font-weight: bold;
}

.header__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    flex-direction: column;
}

.header__section__menu{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.header__section__text{ 
    text-align: center;
}

#burguer{
    margin: 4px 0 0 20px;
}


.header__section__menu{
    margin: 0px 20px 10px 0;

    padding: 10px;
}

.search{
    width: 208px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid white;
}


.header__section__logo{
    display: none;
}

.header__nav{
    display: none;
}

.header__nav a {
    color: white;
}


/* MAIN */


.main__section__banner__img{
    width: 100%;
}
.main__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__section h2{
    padding: 10px;
} 

.main__section__caja{
    border: 1px solid gray;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 90%;
    margin: 10px;
}

.main__section__img{
    width: 100%;
}

.main__section__texto{
    background-color: #D2D2D2;
    padding: 10px;
}

.main__section__img__banner{
    margin: 10px 0 10px 0;
    padding: none;
}

.main__section__banner__img__2{
    width: 100%;
}

.main__section__logo{
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 5px;
    width: 30%;

}


@media(min-width:768px){
    /* HEADER */
    .header__section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .header__section__img{
        padding: 10px 0 0 10px;
    }

    .header__section__logo{
        display: inline;
        width: 40px;
    
    }

    .header__section__text{
        display: none;
    }

    #burguer{
        display: none;
    }

    .header__section__menu{
        padding-top: 15px;
        padding-left: 30px;
    }

    .search{
        width: 230px;
    }

    .header__section__button{     
        height: 20px;
    }

    .header__nav{
        display: flex;
        display: inline;
        padding-top: 18px;
        padding-right: 10px;
        
    }

    .header__nav__li{
        display: inline;
    }

    .header__nav a{
        text-decoration: none;
        font-size: 17px;
        margin-left: 20px;
        color: white;
        
    }


    /* MAIN */

    .main h2{
        padding: 10px;
    } 
    .main__section h2{
        display: inline;
    }
    
    .main__section__caja{
        width: 45%;
    }

    .main__section__logo{
        margin-left: 40%;
        width: 20%;
    }
    

}

@media(min-width:1024px){
    /* HEADER */
    .search{
        width: 400px;
    }
    /* MAIN */

    .main__section__caja{
        width: 30%;
    }

    .main__section__logo{
        margin-left: 40%;
        width: 20%;
    }

    /* FOOTER */
}